<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style3.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>List of Books</h1>
        <ul class="book-list">
          <li><a href="#">Book 1</a></li>
          <li><a href="#">Book 2</a></li>
          <li><a href="#">Book 3</a></li>
        </ul>
      </div>
</body>
</html>